.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.label-text {
    color: #5cace0;
}

.about-us-button {
    width: 64px;
    height: 64px;
    border-radius: 32px;
    background-color: #aed6f1;
}

.parent-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Distributes children with space between them */
    align-items: center; /* Centers them horizontally */
    height: 100%; /* Ensure it has enough height to space out the elements */
}

.main-display {
    width: 640px;
    height: 480px;
    border-radius: 32px;
    background-color: #eaeeef;
    justify-self: center;
    padding: 2px 16px;
}

.global-info-holder {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 50%;
    margin-bottom: 20px;
}

.info-holder {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

.info-display {
    background-color: #5cace0;
    border-radius: 32px;
    width: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.days-holder {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.day-option {
    background-color: #5cace0;
    border-radius: 32px;
    display: flex;
    flex-grow: 1;
    width: 64px;
    height: 120px;
    border-width: 0;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 40%;
}